<nav class="nav">
   
        <div class="logo">
           <ul>
            <li>
                <a href="/">BRAND NAME</a>
            </li>
           </ul>
        </div>
        <div class="nav-items">
            <ul>
                <li>
                    <a href="/">HOME</a>
                </li>
                <li>
                    <a href="/Category/?cat=news">NEWS</a>
                </li>
                <li>
                    <a href="/Category/?cat=sports">SPORTS</a>
                </li>
                <li>
                    <a href="/Category/?cat=technology">TECHNOLOGY</a>
                </li>
            </ul>
        </div>
    
</nav>